<!doctype html>
<html>

  <head>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'TweenMax' %>
    <%= javascript_include_tag 'jquery.gsap' %>
    <%= javascript_include_tag 'ScrollMagic' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
